
@{
    ViewBag.Title = "ThanhCong";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center">Thanh Toán Thành Công</h2>

            <p class="text-center">
                Cảm ơn bạn đã mua hàng. Đơn hàng của bạn đã được xử lý thành công.
            </p>
        </div>
    </div>
</div>